
body {
    background-color: white;
    justify-content: center;
}



.flex-container1 {
    height: 28px;
    width: 285px;
    background-color: rgb(207, 170, 77);
    background-image: linear-gradient(#f5db68, #fbcb8f);
    justify-content: center;
    text-align: center;
    padding-top: 8px;
    border-radius: 4px;
    margin-left: 13px;
    margin-bottom: 22px;
    border: 1px solid rgb(169, 130, 33);
    box-shadow: 1px 1px 4px rgb(185, 185, 185),1px 1px 4px rgb(185, 185, 185);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .5px;
    font-size: 17px;
}

.flex-container2 {
    background-color: rgb(251, 251, 251);
    background-image: linear-gradient(#e9ecef, #e3e3e3);
    height: 28px;
    width: 285px;
    padding-top: 9px;
    border-radius: 4px;
    justify-content: center;
    text-align: center;
    margin-bottom: 9px;
    margin-left: 13px;
    border: 1px solid rgb(187, 187, 187);
    box-shadow: 1px 1px 4px rgb(185, 185, 185),1px 1px 4px rgb(185, 185, 185);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .5px;
    font-size: 17px;
}

.flex-container3 {
    background-color: rgb(251, 251, 251);
    background-image: linear-gradient(#e9ecef, #e3e3e3);
    height: 28px;
    width: 285px;
    padding-top: 9px;
    border-radius: 4px;
    justify-content: center;
    text-align: center;
    margin-bottom: 9px;
    margin-left: 13px;
    border: 1px solid rgb(187, 187, 187);
    box-shadow: 1px 1px 4px rgb(185, 185, 185),1px 1px 4px rgb(185, 185, 185);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .5px;
    font-size: 17px;
}

.flex-container4 {
    background-color: rgb(251, 251, 251);
    background-image: linear-gradient(#e9ecef, #e3e3e3);
    box-shadow: 1px 1px 4px rgb(185, 185, 185),1px 1px 4px rgb(185, 185, 185);
    height: 28px;
    width: 285px;
    padding-top: 9px;
    border-radius: 4px;
    justify-content: center;
    text-align: center;
    margin-bottom: 9px;
    margin-left: 13px;
    border: 1px solid rgb(187, 187, 187);
    box-shadow: 1px 1px 4px rgb(185, 185, 185),1px 1px 4px rgb(185, 185, 185);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .5px;
    font-size: 17px;
}

.flex-container5 {
    background-color: rgb(251, 251, 251);
    background-image: linear-gradient(#e9ecef, #e3e3e3);
    height: 28px;
    width: 285px;
    padding-top: 9px;
    margin-left: 13px;
    border-radius: 4px;
    justify-content: center;
    text-align: center;
    border: 1px solid rgb(187, 187, 187);
    box-shadow: 1px 1px 4px rgb(185, 185, 185),1px 1px 4px rgb(185, 185, 185);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: .5px;
    font-size: 17px; 
}

.buttons {
    margin-left: 25px;
}

.grey {
    color: rgb(28, 28, 28);
}
